/* You can add global styles to this file, and also import other style files */
app-video-dashboard {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 1.5rem;
    }

    .selected{
        background-color:rebeccapurple;
    }